# fly.toml app configuration file generated for one-backend-go-polished-forest-4776 on 2026-02-15T09:44:38+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'one-backend-go-polished-forest-4776'
primary_region = 'sin'

[build]

[env]
  ACCESS_TOKEN_TTL = '15m'
  CORS_ALLOWED_ORIGINS = '*'
  MONGODB_DB = 'foodsvc'
  PORT = '8080'
  REFRESH_TOKEN_TTL = '720h'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
